<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.sdu.dk/stefh14/math2/DSL"
			class = "dk.sdu.stefh14.math2.dSL.DSLPackage"
			genModel = "model/generated/DSL.genmodel" />
	</extension>
</plugin>
